@page "/"

<h4>Employee List</h4>

<div class="d-flex flex-row flex-wrap p-1">
    @if (Employees == null)
    {
        <div class="spinner-grow">

        </div>
    }
    else
    {
        <div>
            <input type="checkbox" @bind-value="ShowFooter"/>
        </div>
        <hr/>
        <div>
            <h3>Selected Employee Count: @SelectedEmployeeCount</h3>
        </div>

        @foreach (var employee in Employees)
        {
           <EmployeeInfo Employee="employee" ShowFooter="ShowFooter" OnSelectionChanged="EmployeeSelectionChanged"/>
        }
    }
</div>

