@if (ShowDialog)
{
    <!-- Modal -->
    <div class="modal fade show d-block" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="()=>ConfirmAction(false)"></button>
                </div>
                <div class="modal-body">
                   <p>Are you sure you want to delete the record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="()=>ConfirmAction(false)">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick="()=>ConfirmAction(true)">Yes</button>
                </div>
            </div>
        </div>
    </div>

}
